{% extends 'base.html.twig' %}
{% block body %}
	<div class="row">
		{% for cat in category %}
			<div class="col-4">
				<div class="bg-light bg-opacity-10 bg-gradient rounded mt-5 ms-5 d-grid shadow">
					<img src="{{cat.poster}}" alt="{{ cat.title }} poster" style="width:200px;" class="mx-auto mt-2 rounded shadow">
					<div class="rounded mt-2 mb-2 mx-auto" style="width:90%; background-color:#E1A624;">
						<h2 class="rounded-top text-center text-light border-bottom pt-1 shadow" style="height:50px; background-color:#384454;">{{ cat.title }}</h1>
						<p class="text-center ms-3 me-3 text-dark">{{ cat.synopsis }}</p>
					</div>
				</div>
			</div>
		{% else %}
			<p class="text-center">Pas de film dans cette catégorie !</p>
		{% endfor %}
	</div>
	<div class="row">
		<a class="text-center text-light text-decoration-none" href="{{ path('category_index') }}">
			Retour à la liste des category
		</a>
	</div>
{% endblock %}
