{% extends 'base.html.twig' %}


{% block title %}Série #{{ program.id }}
{% endblock %}


{% block body %}
	<div class="container">
		<div class="bg-light bg-opacity-10 bg-gradient rounded mt-5 d-grid shadow">
			<div class="row media">
				<div class="col d-grid">
					<img class="mx-auto mt-5" style="width:200px;" src="{{program.poster}}" alt="{{ program.title }} poster">
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h2 class="w-75 mx-auto mb-0 mt-2 rounded-top text-center text-light border-bottom pt-1 shadow" style="height:50px; background-color:#384454;">{{ program.title }}</h2>
					<div class="w-75 rounded-bottom mb-2 mx-auto" style="background-color:#E1A624;">
						<p class="text-center p-1">{{ program.synopsis }}</p>
						<p class="text-center p-1">Catégorie :
							{{ program.category.name }}</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-9 d-grid mx-auto">
					<h2 class="text-light">Liste des épisodes</h2>
					<table class="align-items-center rounded text-light w-100 justify-content-center mb-5">
						<thead>
							<th class="">Episode</th>
							<th class="w-75">Titre</th>
							<th>Regarder</th>
						</thead>
						{% for ep in season %}
							<tbody>
								<tr class="border-bottom">
									<td height="50">{{ ep.number }}</td>
									<td>{{ ep.title }}</td>
									<td>
										<a href="#" class="text-decoration-none">Regarder</a>
									</td>
								</tr>
							</tbody>
						</td>
					</tr>
				</tbody>
			{% else %}
				<div class="row">
					<div class="col">
						<h2 class="text-center text-dark">Pas d'épisode pour cette série !</h2>
					</div>
				</div>
			{% endfor %}
		</table>
	</div>
</div></div><div class="row mt-5">
<div class="col mx-auto text-center">
	<a href="{{ path('program_index') }}" class="mx-auto mt-2 text-decoration-none text-light">
		retour à la liste des programmes
	</a>
</div></div></div>{% endblock %}
